/* 
    This is a CSS comment. Please add your name to this file below:
    
    NAME: Tristan Ibarra 
*/
/* -------------------------------------------------- */
/* 
    The code below is called the CSS reset. We will learn more 
    about this in a future module, for now you can ignore this 
    code and leave it as-is 
*/
/* -------------------------------------------------- */

/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-block-start: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------BEGIN GLOBAL STYLES----------------- */
/* -------------------------------------------------- */
/*  
    THESE STYLES HAVE BEEN WRITTEN FOR YOU. WE WILL 
    FOCUS ON ADDING NEW STYLES TO SPECIFIC ELEMENTS 
    BELOW THESE, LOOK FOR THE COMMENTS THAT SAY TO DO 
*/
/* -------------------------------------------------- */
:root{
    /* COLOR THEME FROM ADOBE COLOR */
    --dk-blue: #010326;
    --dk-teal: #011526;
    --lt-blue: #CEE4F2;
    --teal: #436573;
    --dk-gray: #0D0D0D;


    --dk-blue-rgba: rgb(1 3 38 / 50%);
    --dk-teal-rgba: rgb(1 21 38 / 50%);
    --lt-blue-rgba: rgb(206 228 242 / 50%);
    --teal-rgba: rgb(67 101 115 / 50%);
    --dk-gray-rgba: rgb(13 13 13 / 50%);

    --white: #fff;
    --light-gray: #eaeaea;
    --med-gray: #555;
    
    /* BOX SHADOW VARIABLES HERE */
    --box-shadow-sm: -3px 3px 7px var(--med-gray);
    --box-shadow-lg: -6px 6px 10px var(--med-gray);

    /* FILTER SHADOWS HERE */
    --filter-shadow-sm: drop-shadow(-3px 3px 7px var(--med-gray));
    --filter-shadow-lg: drop-shadow(-6px 6px 10px var(--med-gray));
}

body{
    background-color: var(--light-gray);
    font-family: Raleway, sans-serif;
    line-height: 1.4;
    color: var(--dk-gray);
    box-sizing: border-box;
}

header{
    padding: 1em;
    width: calc(100% - 2rem);
    max-width: calc(1200px - 2rem);
    margin: 0 auto 2rem auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow-sm);
}

h1, h2{
    font-weight: bold;
}

h1{
    font-size: 2rem;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 600px;
    margin: 0.25rem auto;
}

nav li{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

nav a{
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-decoration: none;
    background-color: var(--teal);
    color: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow-lg);
}

nav a:hover{
    background-color: var(--dk-teal);
    color: var(--white);
    box-shadow: var(--box-shadow-sm);
}

a{
    color: var(--dk-blue);
    font-weight: 600;
}

a:hover{
    color: var(--teal);
}

main{
    width: calc(100% - 2rem);
    max-width: calc(1200px - 2rem);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

section{
    display: block;
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-sm);
}

p{
    max-width: 65ch;
    margin: 0 auto;
}

section > p:first-of-type, main > p{
    padding: 1rem 0; 
    max-width: 65ch;
    margin: 0 auto;
}

section > p:first-of-type{
    border-bottom: 4px solid var(--dk-teal-rgba);
    margin-bottom: 1rem;
}

main > p{
    grid-column: 1/-1;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-sm);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border: 4px solid var(--teal-rgba);
}

strong{
    font-weight: 600;
    background-color: var(--lt-blue);
}

code{
    font-family: monospace;
    font-size: 1.25rem;
}

dt{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.25rem 0 0.5rem 1rem;
}

dd{
    margin: 0.25rem 0 0.5rem 2rem;
}

dd code, p code, li code{
    font-size: 1.1rem;
}

p code, li code{
    background-color: var(--dk-blue);
    color: var(--light-gray);
}

#section1 img{
    display: block;
    width: 100%;
    height: auto;
}

#section4 p:first-of-type{
    border-bottom: none;
    margin: 0;
}

#section4 ul{
    border-bottom: 4px solid var(--dk-teal-rgba);
    margin-bottom: 1rem;
    padding: 0 0 1rem 0.5rem;
}

#section4 li{
    display: block;
    padding: 0.5rem 0;
}

#section4 li::before{
    content: 
}

#section5 p:last-of-type{
    margin-top: 1rem;
}

#section6 div{
    width: 300px;
    height: 200px;
    margin: 1rem auto;
}

#section7 div{
    width: 100%;
    height: 100px;
    margin: 1rem auto;
}

#btt{
    display: block;
    height: 50px;
    grid-column: 1/-1;
    justify-self: end;
}  

#btt svg{
    width: 50px;
    fill: var(--dk-teal);
    filter: var(--filter-shadow-lg);
}

#btt:hover svg{
    fill: var(--dk-teal-rgba);
    filter: var(--filter-shadow-sm);
}

footer{
    padding: 1rem;
    text-align: center;
    background-color: var(--white);
    width: calc(100% - 2rem);
    max-width: calc(1200px - 2rem);
    margin: 0 auto;
    box-shadow: var(--box-shadow-sm);
}

/* --------------BEGIN ACTIVITY STYLES----------------- */
/* -------------------------------------------------- */
/*  
    FOLLOW ALONG IN CLASS AND ADD YOUR STYLES AS INSTRUCTED BELOW
*/
/* -------------------------------------------------- */

/* ------------- SECTION 2 STYLES ---------------- */
/* Practicing the box model & seeing it in action */
/* content, padding, borders, margin, dev tools, inline, & block elements */

/* For both links in the section */
/* 
    TO DO: add styles to both links in this section that will:
        - make these links display as block-level elements
        - remove the underline
        - align the text to the center
        - make the font display in bold
        - make the width of the link 50% of its parent container
        - apply a box-shadow 
*/

#section2 a:first-of-type {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 50%;
    box-shadow: var(--box-shadow-lg);
}

/* On hover, change the background color, font color, border color, and box shadow */

#section2 a:first-of-type:hover {
    background-color: var(--dk-blue);
    color: var(--white);
    border-color: var(--lt-blue);
    box-shadow: var(--box-shadow-sm);
}

/* ------------- SECTION 3 STYLES ---------------- */
/* Practicing pseudo-elements */

/* Add a picture of a dog to the page */

#section3 img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
    filter: var(--filter-shadow-sm);
}

/* Add a small circle on top of the image */
#section3 div::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--lt-blue);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: -50px;
    right: 25px;
}

/* ------------- SECTION 4 STYLES ---------------- */
/* Practicing pseudo-class selectors */

/* Make the second paragraph of the section have a larger margin */

#section4 p:last-of-type {
    margin: 1rem 0 1rem 0;
}

/* ------------- SECTION 6 STYLES ---------------- */
/* Adding background images to sections */

/* Add background images to the section */
#bg-img-3 {
    background-color: var(--lt-blue);
    background-image: url("images/puppy-photo.jpg");
    background-repeat: repeat;
    background-position: center;
}

/* ------------- SECTION 7 STYLES ---------------- */
/* Adding background patterns */

#pattern1 {
    background-color: var(--light-gray);
    background-size: 110%;
    background-image: url("images/wood.jpg");
}
